.button {
    width: 100%;
    &_wrapper {
        padding: 16px 16px;
    }
}

.pig {
    width: 128px;
    height: 128px;
    &_wrapper {
        padding: 120px 0px;
    }
}

.navIcon {
    width: 32px;
    height: 32px;
    position: relative;
    top: 2px;
}